<div class="wrapper">
    <header>
        <img src="assets/faq/images/icon-star.svg" alt="a star icon">
        <h1>FAQs</h1>
    </header>
    <main>
        <ul>
            <li>
                <details name="faq" open>
                    <summary>What is Frontend Mentor, and how will it help me?</summary>
                    <p>Frontend Mentor offers realistic challenges to help developers improve their frontend coding
                        skills with projects in HTML, CSS, and JavaScript. It's suitable for all levels and ideal for
                        portfolio building.</p>
                </details>
            </li>
            <li>
                <details name="faq">
                    <summary>Is Frontend Mentor free?</summary>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores aut, culpa
                        facere harum illum laboriosam laborum laudantium nulla pariatur perferendis perspiciatis porro
                        quod reiciendis repellendus saepe. Odio, odit?</p>
                </details>
            </li>
            <li>
                <details name="faq">
                    <summary>Can I use Frontend Mentor projects in my portfolio?</summary>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores aut, culpa
                        facere harum illum laboriosam laborum laudantium nulla pariatur perferendis perspiciatis porro
                        quod reiciendis repellendus saepe. Odio, odit?</p>
                </details>
            </li>
            <li>
                <details name="faq">
                    <summary>How can I get help if I'm stuck on a challenge?</summary>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores aut, culpa
                        facere harum illum laboriosam laborum laudantium nulla pariatur perferendis perspiciatis porro
                        quod reiciendis repellendus saepe. Odio, odit?</p>
                </details>
            </li>
        </ul>
    </main>
</div>